<!doctype html>
<html>
  <head>
    <title><%= @config.title %></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1><%= @config.title %></h1>
    <% for @talk in @library %>
      <article>
	<h2><%= @talk.title %></h2>
	<% if @talk.presenter || @talk.date %>
	  <p class="info">
	    presented
	    <% if @talk.date %>
	      <time="<%= @talk.date %>">
		on <%= @talk.date.strftime('%Y-%m-%d') %>
		at <%= @talk.date.strftime('%H:%M') %>
	      </time>
	    <% end %>
	    <% if @talk.presenter %>
	      by <span class="presenter"><%= @talk.presenter %>
	    <% end %>
	  </p>
	<% end %>
	<% if @talk.description %>
	  <p><%= @talk.description %></p>
	<% end %>
	<% if not @talk.files.empty? %>
	  <h3>Files</h3>
	  <ul class="files">
	    <% for @file in @talk.files %>
	      <li>
		<a href="talk/<%= @talk.id %>/files/<%= @file.name %>">
		  <%= @file.name %>
		</a>
	      </li>
	    <% end %>
	  </ul>
	<% end %>
      </article>
    <% end %>
  </body>
</html>
