<%
  start_idx = [
    1,
    [page - (@config.max_pages / 2), num_pages - @config.max_pages].min
  ].max
  end_idx = [start_idx + @config.max_pages, num_pages].min

  if start_idx > 1
    # If we have to start further away than 1, then we need
    # to start two over, one so we can display "1" and the other
    # so we can display "..."
    start_idx += 2
  end

  if end_idx < num_pages
    # Same as for start idx, we need to show "..." and "end"
    end_idx -= 2
  end
%>
<% if start_idx != end_idx %>
  <ul class="pagination">
    <% if page > 1 %>
      <li><a href="/<%= page - 1 %>">Previous</a></li>
    <% else %>
      <li>Previous</li>
    <% end %>

    <% if start_idx > 1 %>
      <li><a href="/1">1</a></li>
      <li>...</li>
    <% end %>

    <% for page_link in (start_idx..end_idx) %>
      <% class_name = (page_link == page) ? 'selected' : '' %>
      <li><a href="/<%= page_link %>" class="<%= class_name %>">
        <%= page_link %>
      </a></li>
    <% end %>

    <% if end_idx < num_pages %>
      <li>...</li>
      <li><a href="/<%= num_pages %>"><%= num_pages%></a></li>
    <% end %>

    <% if page < num_pages %>
      <li><a href="/<%= page + 1 %>">Next</a></li>
    <% else %>
      <li>Next</li>
    <% end %>
  </ul>
<% end %>

