<article>
  <h2>
    <% if not is_section %>
      <a href="/talk/<%= talk.id %>">
    <% end %>
    <%= talk.title %>
    <% if not is_section %>
      </a>
    <% end %>
  </h2>
  <% if talk.presenter || talk.date %>
    <p class="info">
      presented
      <% if talk.date %>
        <time="<%= talk.date %>">
          on <%= talk.date.strftime('%Y-%m-%d') %>
          at <%= talk.date.strftime('%H:%M') %>
        </time>
      <% end %>
      <% if talk.presenter %>
        by <span class="presenter"><%= talk.presenter %>
      <% end %>
    </p>
  <% end %>
  <% if talk.description %>
    <p><%= glorify talk.description %></p>
  <% end %>
  <% if not talk.embedded_files.empty? %>
  <% end %>
    <% for embedded_file in talk.embedded_files.values %>
      <video controls preload=none
        poster="/video_poster.png"
        width=<%= embedded_file.width(@config.max_embed_width) %>
        height=<%= embedded_file.height(@config.max_embed_width) %>
        src="/talk/<%= talk.id %>/embedded/<%= embedded_file.file.name %>"
      >
  </video>
    <% end %>
  <% if not talk.files.empty? %>
    <h3>Files</h3>
    <ul class="files">
      <% for file in talk.files.values %>
        <li>
          <a href="/talk/<%= talk.id %>/files/<%= file.name %>"
              class="<%= file.type %>">
            <%= file.name %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if not talk.sections.empty? %>
    <h3>Sections</h3>
    <ul class="sections">
      <% for @section in talk.sections %>
        <li>
          <%= erb(:talk, :layout => false, :locals => {
            :talk => @section,
            :is_section => true
          }) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</article>
